accelerate==0.19.0
diffusers==0.17.1
huggingface-hub==0.15.1
matplotlib==3.7.1
PyYAML
requests
tqdm
transformers==4.29.2
urllib3
imageio
scipy
--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchaudio
torchvision 
